<section class="section">
  <div class="container">
    <div class="content">
      <div class="columns">
<% @cat_array.each do |columns| %>
        <div class="column is-quarter">
        <% columns.each do |category| %>
          <%= link_to category.name, category_articles_path(category) %><br>
        <% end %>
        </div>
<% end %>
      </div>
    </div>
  </div>
</section>
